body {
    font-family: Arial, sans-serif;
   
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url(bg2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
   
}

h1 {
    margin-top: 50px;
    color: #e4d9d9;
}

form {
  background-color: #fff;
    padding: 60px;
    width: 400px;
    margin: 20px auto;
    border-radius: 80px;
    background-image: url(bg4.jpg);
    background: rgba(76, 100, 80, 0.3);
   color: #fff;
   font-size: large;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form:hover{

scale: 1.05;

}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
    text-align: left; 
  
    
      } 
#name{
opacity: 0.5;
}
#email{
    opacity: 0.5;
    }
    #message{
        opacity: 0.5;
        }
input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
   color: #0c0202;
  
}

textarea {
    resize: none;
    height: 80px;
    
}

button {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background: #218838;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }